#bottom-sheet{
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
}
#bottom-sheet-dimmer{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset:0;
}
#bottom-sheet-container{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: #ffffff;
}
#bottom-sheet-header{
  width: 100%;
  min-height: 10px;
}
